
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>微服务</title>
</head>
<body>
<center>
    <font size="5" color="black">
        <b>微服务环境</b>
    </font>
</center>
<br>
<table border="1" align="center">

    <tr><th>联调环境</th></tr>
    <tr>
        <th align="center" valign="middle" width="200">
            <a href="http://47.104.131.144:3000" target="_blank">Grafana监控(admin,hyjf@2018)</a>
        </th>

        <th align="center" valign="middle" width="200">
            <a href="https://46.104.130.77:1111/" target="_blank">注册中心</a>
        </th>

        <th align="center" valign="middle" width="200">
            <a href="http://gitlab.hyjf.com:6080/microserver/" target="_blank">配置中心(deployment,deploy2018)</a>
        </th>

        <th align="center" valign="middle" width="200">
            <a href="http://47.104.250.73:8080" target="_blank">rocketmq控制台</a>
        </th>
    </tr>

    <tr><th>测试环境</th></tr>
    <tr>
        <th align="center" valign="middle" width="200">
            <a href="http://47.104.131.144:3000" target="_blank">Grafana监控(admin,hyjf@2018)</a>
        </th>
    
        <th align="center" valign="middle" width="200">
            <a href="https://47.104.147.4:1111" target="_blank">注册中心</a>
        </th>

        <th align="center" valign="middle" width="200">
            <a href="http://gitlab.hyjf.com:6080/microserver/" target="_blank">配置中心(deployment,deploy2018)</a>
        </th>

        <th align="center" valign="middle" width="200">
            <a href="http://47.104.173.164:8080" target="_blank">rocketmq控制台</a>
        </th>
    </tr>

    <tr><th>微服务代码</th></tr>
    <tr>
        <th align="center" valign="middle" width="200">
            <a href="#" target="_blank">gitlab地址</a>
        </th>
    </tr>
</table>
</body>


</html>
